<div>
  <div class="row">
      <div class="left col-lg-4">
        <div style="text-align: center;" class="image">
          <img style="width: 100%;" src="{{myBlog.image}}" alt="image" />
          <h2>{{myBlog.name}}</h2>
          <p>{{myBlog.description}}</p>
          <button>Join Now</button> 
        </div>
      </div>
      <div style="text-align: center;" class="right col-lg-8">
        <h1 class="title">{{myBlog.name}}</h1>
        <img style="width: 100%;" src="{{myBlog.image}}" alt="">
        <p>{{myBlog.description}}</p>
      </div>
  </div>
</div>